apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockTrader
  labels:
    app: stockTrader
  namespace: itonk-11
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stockTrader
  template:
    metadata:
      labels:
        app: stockTrader
    spec:
      containers:
        - name: stockTrader
          image: kasperhermansen/itonk11-stockTrader:1
          env:
            - name: RUNTIME_ENV
              value: TEST
            - name: POSTGRES_HOST
              value: db-service.itonk-11.svc.cluster.local
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DB
              value: StockTraderdb
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
          ports:
            - containerPort: 80
          livenessProbe:
            initialDelaySeconds: 10
            failureThreshold: 10
            httpGet:
              path: /api/health/ping
              port: 80
              scheme: HTTP
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            initialDelaySeconds: 10
            failureThreshold: 10
            httpGet:
              path: /api/health/ping
              port: 80
              scheme: HTTP
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: stockTrader-service
  labels:
    app: stockTrader-service
  namespace: itonk-11
spec:
  type: LoadBalancer
  selector:
    app: stockTrader
  ports:
    - name: http
      port: 80
      targetPort: 80
