<mat-toolbar>
  <button
    mat-button
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
  >
    <span>Trader Bro</span>
  </button>
  <span class="menu-spacer"></span>
  <button
    mat-raised-button
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    *ngIf="isLoggedIn"
  >
    HOME
  </button>
  <button
    mat-raised-button
    [routerLink]="['/market']"
    routerLinkActive="router-link-active"
    *ngIf="isLoggedIn"
  >
    MARKET
  </button>
  <button
    mat-raised-button
    [routerLink]="['/bank']"
    routerLinkActive="router-link-active"
    *ngIf="isLoggedIn"
  >
    BANK
  </button>
  <button
    mat-icon-button
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
    *ngIf="!isLoggedIn"
  >
    <mat-icon aria-hidden="false" aria-label="Login">account_circle </mat-icon>
  </button>
  <button
    mat-icon-button
    [routerLink]="['/sign-up']"
    routerLinkActive="router-link-active"
    *ngIf="!isLoggedIn"
  >
    <mat-icon aria-hidden="false" aria-label="Sign up">person_add </mat-icon>
  </button>
  <button mat-icon-button (click)="logout()" *ngIf="isLoggedIn">
    <mat-icon aria-hidden="false" aria-label="Log out">exit_to_app </mat-icon>
  </button>
</mat-toolbar>

<div class="offset">
  <router-outlet></router-outlet>
</div>
