apiVersion: apps/v1
kind: Deployment
metadata:
  name: shares
  labels:
    app: shares
  namespace: itonk-11
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shares
  template:
    metadata:
      labels:
        app: shares
    spec:
      containers:
        - name: shares
          image: kasperhermansen/itonk11-shares:1
          env:
            - name: RUNTIME_ENV
              value: Production
            - name: POSTGRES_HOST
              value: shares-db-service.itonk-11.svc.cluster.local
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DB
              value: Sharesdb
          ports:
            - containerPort: 80
          livenessProbe:
            initialDelaySeconds: 10
            failureThreshold: 10
            httpGet:
              path: /api/health/ping
              port: 80
              scheme: HTTP
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            initialDelaySeconds: 10
            failureThreshold: 10
            httpGet:
              path: /api/health/ping
              port: 80
              scheme: HTTP
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: shares-service
  labels:
    app: shares-service
  namespace: itonk-11
spec:
  type: LoadBalancer
  selector:
    app: shares
  ports:
    - name: http
      port: 80
      targetPort: 80
