.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

mat-expansion-panel {
  box-shadow: 1px 1px 10px #000;
}

span {
  width: 200px;
}

.bot {
  margin-top: 20px;
  float: right;
}

.list-button {
  float: right;
}
